@import "tailwindcss";

/* Tailwind v4 Theme Configuration */
@theme {
  --color-primary: #667EEA;
  --color-secondary: #ea7566;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  :root {
    /* Base Background Gradient */
    --background-start-rgb: 15, 23, 42; /* slate-900 */
    --background-end-rgb: 24, 18, 54; /* deep purple */
  }

  body {
    color: rgb(226 232 240); /* slate-200 */
    background: linear-gradient(
        to bottom right,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
      );
    min-height: 100vh;
  }
}
